*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: Montserrat,sans-serif;
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:active {
  color: #f2526c;
}

a:visited {
  color: #f2526c;
}

.container {
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1170px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

button {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

button:focus,
a:focus {
  outline: none;
}

::-moz-selection {
  background-color: #6669ad;
  color: gray;
}

::selection {
  background-color: #6669ad;
  color: gray;
}

.vhidden {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  height: 0;
  width: 0;
}

.btn {
  color: bisque;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 1.5rem;
  border-radius: 7px;
  background-color: #ff8c00;
  -webkit-box-shadow: 0 0 10px #ff8c00;
  box-shadow: 0 0 10px #ff8c00;
  -webkit-transition: background-color .3s ease-in,color .3s ease-in;
  transition: background-color .3s ease-in,color .3s ease-in;
}

.btn:hover {
  background-color: #2b2b2b;
  color: #ff8c00;
}

.header {
  background-color: #2b2b2b;
  color: #fff;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 5.7rem;
}

.header__toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__inner {
  position: relative;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 350px;
}

.header__title {
  color: #f2526c;
  margin-bottom: 2rem;
}

.header__subtitle {
  color: #b8b8d3;
}

.header__subtitle span {
  color: #f2db52;
  position: relative;
  bottom: -0.1rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__nav-menu {
  height: 100%;
}

.header__logo {
  margin-bottom: 2rem;
  margin-left: -0.8rem;
}

.nav {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.nav__close {
  -webkit-transform: translateX(-150rem);
  -ms-transform: translateX(-150rem);
  transform: translateX(-150rem);
  -webkit-transition: 1.2s ease-in transform;
  transition: 1.2s ease-in transform;
  position: absolute;
  left: 3rem;
  top: 2.5rem;
  color: #f2526c;
  text-transform: uppercase;
  font-weight: 600;
}

.nav__close--active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  position: relative;
  margin-right: .4rem;
  color: #f2526c;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: .15rem;
  text-transform: uppercase;
  -webkit-transition: .3s ease-in color;
  transition: .3s ease-in color;
}

.nav__item::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 1.1rem;
  width: 0;
  height: .2rem;
  background-color: #f2526c;
  -webkit-transition: .3s ease-in width;
  transition: .3s ease-in width;
}

.nav__item:hover::after {
  width: 50.04%;
}

.nav__link {
  padding: 1rem 1.1rem;
  color: #f2526c;
  -webkit-transition: .3s ease-in color;
  transition: .3s ease-in color;
}

.nav__link:hover {
  color: #f2db52;
}

.nav--first-nav-elem {
  color: #f2db52 !important;
}

.toolbar {
  cursor: pointer;
  background-color: #f2526c;
  color: #2b2b2b;
  border-radius: 1rem;
  padding: .5rem 1rem;
  font-size: 1.3rem;
}

.toolbar--active {
  font-weight: 600;
  text-decoration: underline;
}

.toolbar__item {
  -webkit-transition: .3s ease-in color;
  transition: .3s ease-in color;
}

.toolbar__item:hover {
  color: #fff;
}

.toolbar__item+.toolbar__item {
  margin-left: .5rem;
}

.about {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #6669ad;
}

.about__description {
  color: #2b2b2b;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.7rem;
}

.about__title {
  margin-bottom: 1.5rem;
}

.about--main-color {
  color: #f2526c;
}

.about--second-color {
  color: #f2db52;
}

.get-ready {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #f2db52;
}

.get-ready--main-color {
  color: #f2526c;
}

.get-ready--second-color {
  color: #f2db52;
}

.get-ready--black-color {
  color: #2b2b2b;
}

.get-ready__inner {
  padding: 4.5rem 2rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  margin-bottom: 8rem;
}

.get-ready__inner--get-ready {
  background-color: #fff;
  color: #2b2b2b;
}

.get-ready__inner--step-2 {
  background-color: #2b2b2b;
  color: #fff;
}

.get-ready__inner--step-3 {
  background-color: #f2526c;
  color: #2b2b2b;
}

.get-ready__inner--step-4 {
  background-color: #6669ad;
  color: #2b2b2b;
}

.get-ready__block-of-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.get-ready__title {
  margin-bottom: 8rem;
}

.get-ready__description {
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
}

.footer {
  padding-top: 5.7rem;
  padding-bottom: 5rem;
  background-color: #2b2b2b;
  color: #fff;
}

.footer__footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__copy {
  color: #f2526c;
  margin-bottom: 1.5rem;
}

.footer__left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10rem;
}

.footer__nav {
  margin-top: -2.9rem;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  margin-right: 2.5rem;
  margin-bottom: .5rem;
  margin-left: -0.8rem;
}

.footer__logo-image {
  width: 70px;
  height: 70px;
}

.footer-menu__item {
  position: relative;
  margin-right: .1rem;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.footer-menu__item::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 1.1rem;
  width: 0;
  height: .2rem;
  background-color: #f2526c;
  -webkit-transition: .3s ease-in width;
  transition: .3s ease-in width;
}

.footer-menu__item:hover::after {
  width: 50.04%;
}

.footer-menu__link {
  padding: 1rem;
  color: #f2526c;
  -webkit-transition: .3s ease-in color;
  transition: .3s ease-in color;
}

.footer-menu__link:hover {
  color: #f2db52;
}

.copy__copy {
  color: #f2db52;
}

.copy__author {
  color: #f2526c;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.socials__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.socials__desc {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: #f2db52;
  margin-right: 1rem;
}

.socials__menu {
  margin-top: .2rem;
}

.socials-menu__item:hover .socials-menu__social-image {
  fill: #f2db52;
}

.socials-menu__link {
  padding: .4rem;
}

.socials-menu__social-image {
  -webkit-transition: .3s ease-in fill;
  transition: .3s ease-in fill;
  width: 1.5rem;
  height: 1.5rem;
  fill: #f2526c;
}

.logo__logo-image {
  width: 120px;
  height: 120px;
}

.menu-burger {
  display: none;
  cursor: pointer;
  position: absolute;
  left: 3rem;
  top: 2.5rem;
  width: 2rem;
  height: 2rem;
}

.menu-burger__item {
  position: absolute;
  height: .2rem;
  background-color: #f2526c;
  width: 100%;
  left: 0;
  top: calc(50% - .2rem);
  -webkit-transition: .3s ease-in transform,.3s ease-in height;
  transition: .3s ease-in transform,.3s ease-in height;
}

.menu-burger__item--active {
  height: 0;
}

.menu-burger__item::before {
  content: "";
  left: 0;
  top: -0.7rem;
  position: absolute;
  background-color: #f2526c;
  height: .2rem;
  width: 100%;
  left: 0;
  top: -0.6rem;
}

.menu-burger__item::after {
  content: "";
  left: 0;
  bottom: -0.6rem;
  position: absolute;
  background-color: #f2526c;
  height: .2rem;
  width: 100%;
}

.menu-burger__item--active::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-burger__item--active::after {
  -webkit-transform: translate(0, -1rem) rotate(-45deg);
  -ms-transform: translate(0, -1rem) rotate(-45deg);
  transform: translate(0, -1rem) rotate(-45deg);
}

.hide {
  display: none !important;
}

.no-scroll {
  overflow: hidden;
}

.title {
  font-size: 2.8rem;
}

.mb-mt {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.mb {
  margin-bottom: 3rem;
}

@supports (-webkit-appearance:none) {

}

@media (max-width: 1200px) {
  .nav__item {
    font-size: 1.2rem;
  }

  .footer__left-side {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .footer__logo {
    margin-bottom: 1.5rem;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 992px) {
  .header__top {
    padding-top: 2.5rem;
  }

  .header__toolbar {
    margin-left: auto;
  }

  .header__nav {
    padding: 0;
  }

  .header__nav-menu {
    margin-left: 40%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav {
    -webkit-transform: translateX(-150rem);
    -ms-transform: translateX(-150rem);
    transform: translateX(-150rem);
    -webkit-transition: .7s ease-in transform;
    transition: .7s ease-in transform;
    z-index: 10000;
    position: fixed;
    background-color: #6669ad;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .nav--active-mobile-menu {
    display: block;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .nav__item {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .footer__row {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__copy {
    margin-right: 0;
    margin-bottom: 3rem;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__left-side {
    margin-right: 0;
  }

  .footer__nav {
    margin-left: -1rem;
    margin-top: 3rem;
  }

  .footer-menu__item::after {
    display: none;
  }

  .menu-burger {
    display: block;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 992px)and (max-width: 576px) {
  .header__nav-menu {
    margin-left: 20%;
    margin-top: 5%;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 768px) {
  .header__title {
    text-transform: uppercase;
  }

  .header__logo {
    margin-bottom: 1.3rem;
  }

  .about__title {
    text-transform: uppercase;
  }

  .get-ready__title {
    text-transform: uppercase;
  }

  .footer__footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
  }

  .footer-menu__item {
    margin-right: 0;
  }

  .logo__logo-image {
    width: 80px;
    height: 80px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 710px) {
  .header__title {
    font-size: 4vw;
  }

  .header__subtitle {
    font-size: 4vw;
  }

  .toolbar {
    font-size: 1.07rem;
    padding: .5rem .7rem;
  }

  .about {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .about__description {
    font-size: 4vw;
    line-height: 4.7vw;
  }

  .get-ready {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .get-ready__inner {
    grid-template-columns: 1fr;
    gap: 2.5rem;
    margin-bottom: 4rem;
  }

  .get-ready__title {
    margin-bottom: 4rem;
  }

  .get-ready__description {
    font-size: 4vw;
    line-height: 4.7vw;
  }

  .get-ready__priority-1 {
    grid-row: 1;
  }

  .get-ready__priority-2 {
    grid-row: 2;
  }

  .get-ready__priority-3 {
    grid-row: 3;
  }

  .get-ready__priority-4 {
    grid-row: 4;
  }

  .get-ready__priority-5 {
    grid-row: 5;
  }

  .get-ready__priority-6 {
    grid-row: 6;
  }

  .get-ready__priority-7 {
    grid-row: 7;
  }

  .get-ready__priority-8 {
    grid-row: 8;
  }

  .footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .title {
    font-size: 4vw;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 320px) {
  .socials__desc {
    font-size: 1rem;
  }

@supports (-webkit-appearance:none) {

}
}