.toolbar {
  cursor: pointer;
  background-color: $main-color;
  color: $black;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  @include media-down(710px) {
    font-size: 1.07rem;
    padding: 0.5rem 0.7rem;
  }
  &--active {
    font-weight: 600;
    text-decoration: underline;
  }

  &__item {
    transition: 0.3s ease-in color;
    &:hover {
      color: $white;
    }
    & + .toolbar__item {
      margin-left: 0.5rem;
    }
  }
}
